<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<string>6643</string>
	<key>1</key>
	<string>3337</string>
	<key>10</key>
	<string>4285</string>
	<key>11</key>
	<string>6587</string>
	<key>12</key>
	<string>8968</string>
	<key>13</key>
	<string>5683</string>
	<key>14</key>
	<string>7424</string>
	<key>15</key>
	<string>47</string>
	<key>16</key>
	<string>908</string>
	<key>17</key>
	<string>5964</string>
	<key>18</key>
	<string>7773</string>
	<key>19</key>
	<string>2607</string>
	<key>2</key>
	<string>5787</string>
	<key>20</key>
	<string>5167</string>
	<key>21</key>
	<string>884</string>
	<key>22</key>
	<string>5043</string>
	<key>23</key>
	<string>3197</string>
	<key>24</key>
	<string>387</string>
	<key>25</key>
	<string>2951</string>
	<key>26</key>
	<string>8427</string>
	<key>27</key>
	<string>3901</string>
	<key>28</key>
	<string>4613</string>
	<key>29</key>
	<string>9365</string>
	<key>3</key>
	<string>2378</string>
	<key>30</key>
	<string>5339</string>
	<key>31</key>
	<string>4947</string>
	<key>32</key>
	<string>2812</string>
	<key>33</key>
	<string>6226</string>
	<key>34</key>
	<string>8285</string>
	<key>4</key>
	<string>3438</string>
	<key>5</key>
	<string>1664</string>
	<key>6</key>
	<string>605</string>
	<key>7</key>
	<string>3750</string>
	<key>8</key>
	<string>9338</string>
	<key>9</key>
	<string>5435</string>
</dict>
</plist>
